{% extends "wrapper.html" %}

{% block content %}
<div id="headBlock">
    <input type="text" id="butt" value=""/> <br/>
    <input type="button" id="btCE" onclick="CE (this)"/>
    <input type="button" id="btsqrt" onclick="sqrt (this)"/>
    <input type="button" id="btx" onclick="ste (this)"/>
    <input type="button" id="btdel" onclick="del (this)"/> <br/>
    <input type="button" id="bt7" onclick="buttonclick7 (this)"/>
    <input type="button" id="bt8" onclick="buttonclick8 (this)"/>
    <input type="button" id="bt9" onclick="buttonclick9 (this)"/>
    <input type="button" id="btum" onclick="um (this)"/> <br/>
    <input type="button" id="bt4" onclick="buttonclick4 (this)"/>
    <input type="button" id="bt5" onclick="buttonclick5 (this)"/>
    <input type="button" id="bt6" onclick="buttonclick6 (this)"/>
    <input type="button" id="btminos" onclick="minos (this)"/> <br/>
    <input type="button" id="bt1" onclick="buttonclick1 (this)"/>
    <input type="button" id="bt2" onclick="buttonclick2 (this)"/>
    <input type="button" id="bt3" onclick="buttonclick3 (this)"/>
    <input type="button" id="btplus" onclick="plus (this)"/> <br/>
    <input type="button" id="bt0" onclick="buttonclick0 (this)"/>
    <input type="button" id="btstop" onclick="fullstop (this)"/>
    <input type="button" id="btrawn" onclick="rawn (this)"/>
</div>
{% endblock %}