{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="eidth=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>бомжатка® corporation™</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'icon.ico' %}"> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div id="mainBlock">
        <p>Добро пожаловать в бомжатка® corporation™</p>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>